# Application settings
PORT=5445
DbConnectionUrl="Host=postgres;Port=5432;Database=MedicalCardTracker;Username=postgres;Password=admin"

# PostgreSQL settings
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="admin"
POSTGRES_DB="MedicalCardTracker"
POSTGRES_PORT="5432"
